:root {
    /* Color Pallette Variables | Usage: var(--variableName) */
    --primary-color: var(--maya-blue);
    --primary-sub-color: var(--powder-blue);
    --secondary-color: var(--oxford-blue);
    --accent-color: var(--tropical-indigo);
    --highlight-color: var(--powder-blue);

    --maya-blue: #7dbbe4;
    --powder-blue: #abc7f8;
    --rich-black: #030C1C;
    --oxford-blue: #041535;
    --tropical-indigo: #9376ce;
}

* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Inter', sans-serif; */
    font-family: 'Press Start 2P', cursive;
}

body {
  height: 100vh;
  overflow: hidden; /* disables scroll wheel */
  background: linear-gradient(0deg, rgba(163,133,221,1) 0%, rgba(164,190,233,1) 17%, rgba(108,189,243,1) 38%, rgba(15,37,75,1) 75%, rgba(4,21,53,1) 100%);
  background-position: center;
  background-repeat: no-repeat;
}


.title {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5em;
  background: -webkit-linear-gradient(var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-tickets {
  position: absolute;
  margin-right: 1em;
  margin-top: 1em;
  right: 0;
  top: 0;
  width: auto;
  min-width: 120px;
  height: 45px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  color: white;
  background: var(--secondary-color);
  border: 2px solid var(--highlight-color);
  transition: 300ms;
}

.header-tickets:hover {
  border: 2px solid white;

}

.header-tickets > img {
  float: right;
  width: 30px;
  height: 30px;
  transform: translate(0, -9px);
}

.main {
    width: 70%;
    margin: auto;
}

.banner-img-container {
  margin: auto;
  margin-top: 2rem;
  width: auto;
  min-width: 750px;
  max-width: 900px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 25px 20px 0px 0px var(--accent-color);
  /* box-shadows: x y blur spread */
  background-color: white;
}

.banner-img-container > img {
  background-position: center;
}

.gacha {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.gacha-button {
  font-size: 2em;
}

.gacha-button > img {
  float: right;
  width: 40px;
  height: 40px;
  transform: translate(-2px, 3px);
}

.button-wrapper {
  width: 250px;
  height: 70px;
  margin: 10px;
  padding: 10px 20px;
  border: 3px solid var(--accent-color);
  border-radius: 30px;
  line-height: 50px;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 4px 0px 3px rgb(0, 0, 0, .2);
  transition-duration: 150ms;

  }

.button-wrapper:hover {
  background-color: var(--primary-sub-color);
  cursor: pointer;
}

.button-wrapper:active {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 1px 1px rgb(0, 0, 0, .2);
  transform: scale(0.93);
}

.background-overlay {
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-image: url(./img/halftone.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .2;
}


.footer-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-10%, -10%);
  line-height: normal;
}
  
.footer-history-btn {
  width: 160px;
  height: 50px;
}

.footer-help-btn {
  width: 60px;
  height: 50px;
  border-radius: 50px;
}

.footer-history-btn,
.footer-help-btn {
  line-height: normal;
}

.footer-disclaimer {
  font-size: .5em;
  position: absolute;
  right: 0;
  bottom: 0;
}

#overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: rgb(0, 0, 0, 0, 0.3);
}

#overlay.active {
  opacity: 0;
  pointer-events: all;
}