body {
    background-color: #14205a;
}
label {
    color: white;
}
.box1 {
    position: relative;
    height: 400px;
    width: 300px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.box1::before{
    position: absolute;
    content: '';
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d0);
}
.box1::before:hover{
     transform: skewX(2deg) skewY(4deg);
}
.box1::after{
    position: absolute;
    content: '';
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d0);
    transform: skewX(2deg) skewY(4deg);;
    filter: blur(50px);
}
.box1::after:hover{
    transform: skewX(2deg) skewY(4deg);
}
.box1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e1538;
    z-index: 10;
}
.box1 h2{
    position: relative;
    font-size: 10em;
    z-index: 11;
    color: #fff;
}

.container1 {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px 0;
    display: block;
}

.container1 .box2 {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container1 .box2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px; 
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container1 .box2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5;
    filter: blur(30px);
    transition: 0.5s;
}

.container1 .box2:hover::before,
.container1 .box2:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.container1 .box2:nth-child(1)::before,
.container1 .box2:nth-child(1):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}


.container1 .box2 span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.container1 .box2 .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    color: white;
    display: none;
}

.container1 .box2:hover .content {
    left: -25px;
    padding: 60px 40px;
    z-index: 1;
}

.container1 .box2 .content h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.container1 .box2 .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container1 .box2 .content a {
    display: inline-block;
    font-size: 1.1em;
    color: black;
    margin-top: 5px;
}


.container1 .box2 span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s linear infinite;
    box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.05);
}

.container1 .box2:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container1 .box2 span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s linear infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

.container1 .box2:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}